{%extends "layout.html"%}
{%block title%}About Us {%endblock%}

{%block nav_items%}
<li><a href="/signup" style="color: white"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
<li><a href="/login" style="color: white"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
{% endblock %}

{%block body%}
    <div class="jumbotron text-center" style="width: 100%; height: 650px;">
        <div style="margin-top: -2%;">

            <h1 align = "center"> About Us</h1>
            <h2 align = "center">Team Astros</h2>
            <p align = "center">
          <quote> <i>We strive to achieve progress, excellence and perfection.</i> </quote><br><br>
            <h4>

           <b>Our Mentor:</b>   Eadhunath V.<br><br><br>
           <b>Collaborators:</b>  <br><br><br>
            <div align = "left" style = "margin-left:575px">
                Pragya Mehrotra  : <a href = "mailto: pragyamehrotra0@gmail.com"> pragyamehrotra0@gmail.com </a> <br><br>
                Rishabh Sharma : <a href = "mailto: rish.sharma98@gmail.com "> rish.sharma98@gmail.com  </a><br><br>
                Aayush Bhansali :<a href = "mailto: aayushbhansali692@gmail.com "> aayushbhansali692@gmail.com </a><br><br>
                Aditi Srivastava :<a href = "mailto: aditis1999@gmail.com"> aditis1999@gmail.com </a><br><br>
                Raksha Pawar :<a href = "mailto: rakshapawarp10@gmail.com"> rakshapawarp10@gmail.com </a> <br><br>
                Shamoil Arsiwala :<a href = "mailto: shamoilarsiwala16@gmail.com"> shamoilarsiwala16@gmail.com </a><br><br>
            <br>

            </div>



        </h4>
            </p>


        </div>
    </div>



{% endblock %}