{%extends "layout.html"%}
{%block title%}***adduser name***{%endblock%}

{%block nav_items%}
<li xmlns="http://www.w3.org/1999/html"><a href="/signup" style="color: white"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
<li><a href="/login" style="color: white"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
{% endblock %}


{%block body%}
<div style="left-align:10">
    <h1 style="text-align:center;color:red">Help </h1>
    <h2>Who all can use this website ?</h2>
    <ol>
        <li><a href="#BB">Blood Bank</a></li><br>
        <li><a href="#H">Hospital</a></li><br>
        <li><a href="#P">Personal Use</a></li><br>
    </ol>




<h3 id="BB"><b>Blood Bank's Role</b></h3>
    <p>There is always a need for blood donors. Modern medical care, including surgery and medical treatment for many diseases, is not possible without the use of blood products. A shortage of blood products means that someone may not get prompt, adequate care.
        The bloodbank contains the real time blood availability. It acts as a platform for any reciepient to request and donate blood.
        Whole blood is collected from healthy donors who are required to meet strict criteria concerning:<br>
        <div style="margin-left:20px">
        1.Medical history<br>
        2.Physical health<br>
        3.Possible contact with transfusion-transmissible infectious diseases, including a history of:<br>
        </div>
        <div style="margin-left:20px">
            -Sexual behavior<br>
            -Drug use<br>
            -Travel to areas of endemic disease (e.g., malaria)<br>
        </div>
        A photo identification is required for all donors with valid id proof.
        The website ensures all its donors are authentic to its knowledge.
        The blood bank is responsible for:<br>
            <div style="margin-left:30px">
                1.Rapid response to urgent requests for blood components<br>
                2.Checking pre-transfusion samples and requests<br>
                3.Assessing of immunological compatibility between donor and patient<br>
                4.Selecting of suitable blood component for each clinical condition<br>
                5.Safe delivery and handling of blood components<br>
                6.Inventory and stock management<br>
                7.Interactions with the blood establishment.<br>
            </div>
        The blood bank is responsible for management of the blood stock.

        The website will enable the Blood banks to help connect with hospitals and personal donors and bridge the gap between the three reducing loss of lives due to delay in availability of blood.




    </p>

    <h3 id="H">Hospitals</h3>
        <p>

        </p>

</div>
{% endblock %}